@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-3">Velkommen. Du kan søge via menupunkterne oven for</h2>
    <hr />
    <p> <a href="https://flexybox.com/">Se vores hjemmeside her</a>.</p>
    change 01-07-2022
    again
    and again
    and again
    again

    Again
</div>
